/* MapView.css */
.map-container {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: 500px; /* Adjust as needed */
}

/* Styling the "current location" button */
.current-location-button {
  /* position: absolute;*/
  top: 10px;
  right: 10px;
  background-color: white;
  border: 1px solid red;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 36px;
  height: 36px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-location-button:focus {
  outline: none;
}

.current-location-button .location-icon {
  background-image: url("https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png");
  background-position: 0px 0px;
  background-size: 180px 18px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.current-location-button:hover .location-icon {
  background-position: -20px 0px;
}

.current-location-button:active .location-icon {
  background-position: -40px 0px;
}
